html,
body {
  height: 100%;
  margin: 0%;
}

/* NAV NAVNAV NAV NAV NAV NAV NAVNAV NAV NAV NAV NAV NAVNAV NAV NAV NAV */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c092a;
  block-size: fit-content;
  padding: 1rem;
}

.hero {
  width: 50%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: rgb(48, 24, 55);
  color: #fff;
}

/* HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO */

.bg {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  block-size: fit-content;
}

.h1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size: 5rem;
  color: whitesmoke;
  margin-left: 5%;
  margin-top: 10%;
}

.main {
  background-image: url(/assets/C.jpg);
  background-size: 40%;
  /* background-repeat: no-repeat; */
  display: flex;
  padding-left: 10rem;
}
.h2 {
  align-items: center;
  justify-content: center;
  font-size: 6rem;
}

.p {
  background-color: navajowhite;
  margin: 10rem;
  padding: 5rem;
  font-size: 1.5rem;
}

#back {
  margin: 5%;
  scroll-behavior: smooth;
}

.contactMe {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50;
  padding: 1rem;
  background-color: #0c092a;
}

.footerimg {
  width: 40%;
}

/* MEDIAQUERY MEDIAQUERY MEDIAQUERY MEDIAQUERY MEDIAQUERY MEDIAQUERY MEDIAQUERY MEDIAQUERY*/

@media screen and (max-width: 768px) {
  .nav-links {
    position: fixed;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 0.3s ease-out;
    pointer-events: none;
  }

  .nav-links li {
    opacity: 0;
  }
}

.nav-links li {
  opacity: 1;
  transition: all 0.3s ease-in;
}
