


.services {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: whitesmoke;
    font-family: poppins,sans-serif;
    color:#29255D;
}

.services {
    display: flex;
    justify-content: space-between;
    width: 100rem;
    margin: auto;
    font-size: 20px;

}
.services {
  text-align: center;
  width: 100rem;
  padding:100px 60px;
font-size: 20px;
    margin: auto;
}

.services {
    text-align: center;
    background-color: whitesmoke ;

}

.mobile-picture{
    display: flex;
    background-image: cover;
    align-items: stretch;
    flex-wrap: wrap;
    width: 110rem;
    height:40rem;

}

.services:hover {
   
    background: #6F549A;
    box-shadow: #6F549A;
    box-shadow: 3px 3px 3px whitesmoke;
    z-index: 2;
    color: whitesmoke;
}

.services{
    font-family:"Regular"400, serif;
}
